body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkcyan;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
}

h1{
    color: white;
}

p{
    color:darkslategray;
}

.tempbox{
    background-color:cornsilk;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 640px;
    padding: 30px;
    border-radius: 25px;
}

button{
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}